[TARGETSCAN]
URL_0: ../Conserved_Site_Context_Scores.txt.zip
URL_1: ../Nonconserved_Site_Context_Scores.txt.zip
SAVE FILE TO: ../mirabel/targetscan/data_raw/
MIR_NAME_COL: 4
Gene ID: gene_id
Gene Symbol: gene_symbol
miRNA: mirna_name
weighted context++ score: score

[MIRANDA]
URL_0: ../human_predictions_S_C_aug2010.txt.gz
URL_1: ../human_predictions_S_0_aug2010.txt.gz
URL_2: ../human_predictions_0_C_aug2010.txt.gz
URL_3: ../human_predictions_0_0_aug2010.txt.gz
SAVE FILE TO: ../mirabel/miranda/data_raw/
MIR_NAME_COL: 1
gene_id: gene_id
gene_symbol: gene_symbol
mirna_name: mirna_name
mirsvr_score: score

[PITA]
URL_0: ../PITA_targets_hg18_3_15_ALL.tab.gz
SAVE FILE TO: ../mirabel/pita/data_raw/
MIR_NAME_COL: 2
RefSeq: gene_id
Name: gene_symbol
microRNA: mirna_name
Score: score

[SVMICRO]
URL_0: ../mirabel/svmicro/data_raw/mirs_svmicro_list.txt
SAVE FILE TO: ../mirabel/svmicro/data_raw/

[MIRTARBASE]
URL_0: ../7.0/hsa_MTI.xlsx
SAVE FILE TO: ../mirabel/mirtarbase/data_raw/
MIR_NAME_COL: 1
Target Gene (Entrez Gene ID): gene_id
Target Gene: gene_symbol
miRNA: mirna_name
Experiments: experiment

[MIRECORDS]
URL_0: ../mirabel/mirecords/data_raw/miRecords_version4.xls
SAVE FILE TO: ../mirabel/mirecords/data_raw/
MIR_NAME_COL: 6
Target gene_Refseq_acc: gene_id
Target gene_name: gene_symbol
miRNA_mature_ID: mirna_name
Reporter_target gene/region: experiment

[COMIR]
URL_0: ../mirabel/comir/data_raw/mirs_comir_list.txt
SAVE FILE TO: ../mirabel/pita/data_raw/
MIR_NAME_COL: 2
Gene_ID: gene_id
Gene_name: gene_symbol
microRNA: mirna_name
Score: score

[MIRMAP]
URL_0: https://mirmap.ezlab.org/downloads/mirmap201301e/mirmap201301e_homsap_targets_1to1.csv.xz
SAVE FILE TO: ../mirabel/mirmap/data_raw/
MIR_NAME_COL: 2
RefSeq: gene_id
Name: gene_symbol
microRNA: mirna_name
Score: score

[MIRWALK]
URL_0: http://mirwalk.umm.uni-heidelberg.de/download/hsa_miRWalk_3UTR.7z
URL_1: http://mirwalk.umm.uni-heidelberg.de/download/hsa_miRWalk_5UTR.7z
URL_2: http://mirwalk.umm.uni-heidelberg.de/download/hsa_miRWalk_CDS.7z
SAVE FILE TO: ../mirabel/mirwalk/data_raw/
MIR_NAME_COL: 0
gene_id: gene_id
Genesymbol: gene_symbol
miRNA: mirna_name
binding_probability: score

[MIRDB]
URL_0: http://mirdb.org/download/miRDB_v6.0_prediction_result.txt.gz
SAVE FILE TO: ../mirabel/mirdb/data_raw/
MIR_NAME_COL: 0
gene_id: gene_id
gene_symbol: gene_symbol
mirna_name: mirna_name
score: score

[DB]
HOST:
USER:
PASSWORD:
DATABASE:

[FILES]
TMP_PREDICTIONS:
TMP_AGGREGATIONS:
TMP_ROC_DATA:
TMP_RANDOM_SETS:
PERM_COMPARISONS:
PERM_IMAGES: