<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Performances page</title>
</head>
<body>
    <form action = "http://localhost:5000/compare_performances" method = "POST" enctype = "multipart/form-data">
        <p>Select the miRabel you wish to compare:
        <select name = "miRabel">
            {% for each in db_list %}
                <option value="{{each}}">{{each}}</option>
            {% endfor %}
        </select>

        <p>Select which database to compare it with:</p>
        {% for each in db_list %}
            <input type="checkbox" name="compare" value="{{each}}"> {{each}}<br>
        {% endfor %}

        <input type = "submit" name = "submit_button" value = "Submit" /></p>

        <h2>Already available comparisons</h2>
            {% for each in comparisons %}
                <input type="checkbox" name="comparisons" value="{{each}}"> {{each}}<br>
            {% endfor %}

        <input type = "submit" name = "submit_button" value = "View" /></p>
    </form>
</body>
</html>